.error {
  color: red;
}

html, body {
  background-image: linear-gradient(#e383b9, #5f65e9);
  width: 100%;
  height: 97.7%;
  padding: 0;
  margin: 0;
}

.doggyPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 4rem;
}

h1 {
  text-align: center;
  font-style: italic;
}

button {
  margin: 1% 5% 1% 85%;
}